<h1 style="text-align:center; padding-top:120px;">Yo La TEAM !</h1>
<p style="text-align:center; margin-bottom:60px;">Notre team ? Elle est super qualitative brow' !</p>


<div style="background-color:#62DDB9; transform:skewY(-1deg); height:28em; margin-bottom:40px;">
  <div class="container text-center py-4" style="transform:skewY(1deg);">

      <center><iframe style="margin-top:30px;" width="560" height="315" src="https://www.youtube.com/embed/hpjV962DLWs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

  </div>
</div>
