<h1 style="text-align:center; padding-top:120px;" class="display-4">Welcome <%= params[:index]%> </h1>

<p style="text-align:center; padding-top:10px;">Tu souhaites connaître tous les gossips de THP ? Espèce de vicieux ! </p>
